
#first{
    display: block !important;
}

#placeShipsTableDuringGame{
    width: 100px;
    height: 100px;
}

.btn:hover {
    background-color: #22A8B5;
}


.table {
    width: 350px;
    height: 350px;
    border: 10px solid #000000;
}

.gameTable {
    width: 350px;
    height: 350px;
    border: 10px solid #000000;
}

td {
    border: 1px solid #000000;
}

td.empty {
    background-color: #000000;
}

td.unchecked {
    background-color: #2a8eff;
}

td.checked {
    background-color: #dbdce1;
}

td.forbidden{
    background-color: #FF0000;
}
