
#first{
    display: block !important;
}

span {
    display: block;
    background-color: #B7C22C;
    color: #2A3F42;
    width: 100%;
    font-size: 56px;
    font-family: Lucida Console;
    letter-spacing: 10px;
	margin-top: 40px;
}

.btn {
   
    font-size: 20px;
    font-family: Lucida Console;
    background-color: #B7C22C;
    color: #FFFFE1;
}

.btn:hover {
    background-color: #22A8B5;
}

.table {
    width: 350px;
    height: 350px;
    border: 10px solid #FFFFE1;
}

td {
    border: 1px solid #FFFFE1;
}

td.empty {
    background-color: #FFFFE1;
}

td.unchecked {
    background-color: #B7C22C;
}

td.checked {
    background-color: #22A8B5;
}

#level-label {
	margin-left: 50px;
}

b {
    display: inline-block;
    font-family: Lucida Console;
    color: #BAB188;
	font-size: 40px;
}