body,html {
    height: 85%;
    background-color: #7ba4e5;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallBoard{
    display: flex;
    align-items: center;
}

body {
    margin: 40px;
}

.wrapper {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, [col] auto ) ;
    grid-template-rows: repeat(2, [row] auto  );
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

}

.box .box {
    background-color: #7ba4e5;
    color: #444;
}

.a {
    grid-column: col / span 2;
    grid-row: row;

}

.b {
    grid-column: col 3 / span 2;
    grid-row: row;
}

.c {
    grid-column: col  / span 2;
    grid-row: row 2;
}

.d{
    grid-column: col 3 / span 2;
    grid-row: row 2;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
}

.e {
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.f {
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}


.login{
    justify-content: center;
    text-align: center;
}

.loading{
    width:100px;
    height:100px;
    margin:30px auto;
    position:relative;
}
.loading.bar div{
    width: 10px;
    height: 30px;
    background: black;
    position: absolute;
    top: 35px;
    left: 45px;
    opacity:0.05;
    -webkit-animation: fadeit 1.1s linear infinite;
    -moz-animation: fadeit 1.1s linear infinite;
    animation: fadeit 1.1s linear infinite;
}
.loading.bar div:nth-child(1){
    -webkit-transform: rotate(0deg) translate(0, -30px);
    -moz-transform: rotate(0deg) translate(0, -30px);
    transform: rotate(0deg) translate(0, -30px);

    -webkit-animation-delay:0.39s;
    -moz-animation-delay:0.39s;
    animation-delay:0.39s;
}

.loading.bar div:nth-child(2){
    -webkit-transform: rotate(45deg) translate(0, -30px);
    -moz-transform: rotate(45deg) translate(0, -30px);
    transform: rotate(45deg) translate(0, -30px);

    -webkit-animation-delay:0.52s;
    -moz-animation-delay:0.52s;
    animation-delay:0.52s;
}

.loading.bar div:nth-child(3){
    -webkit-transform: rotate(90deg) translate(0, -30px);
    -moz-transform: rotate(90deg) translate(0, -30px);
    transform: rotate(90deg) translate(0, -30px);

    -webkit-animation-delay:0.65s;
    -moz-animation-delay:0.65s;
    animation-delay:0.65s;
}

.loading.bar div:nth-child(4){
    -webkit-transform: rotate(135deg) translate(0, -30px);
    -moz-transform: rotate(135deg) translate(0, -30px);
    transform: rotate(135deg) translate(0, -30px);

    -webkit-animation-delay:0.78s;
    -moz-animation-delay:0.78s;
    animation-delay:0.78s;
}

.loading.bar div:nth-child(5){
    -webkit-transform: rotate(180deg) translate(0, -30px);
    -moz-transform: rotate(180deg) translate(0, -30px);
    transform: rotate(180deg) translate(0, -30px);

    -webkit-animation-delay:0.91s;
    -moz-animation-delay:0.91s;
    animation-delay:0.91s;
}

.loading.bar div:nth-child(6){
    -webkit-transform: rotate(225deg) translate(0, -30px);
    -moz-transform: rotate(225deg) translate(0, -30px);
    transform: rotate(225deg) translate(0, -30px);

    -webkit-animation-delay:1.04s;
    -moz-animation-delay:1.04s;
    animation-delay:1.04s;
}

.loading.bar div:nth-child(7){
    -webkit-transform: rotate(270deg) translate(0, -30px);
    -moz-transform: rotate(270deg) translate(0, -30px);
    transform: rotate(270deg) translate(0, -30px);

    -webkit-animation-delay:1.17s;
    -moz-animation-delay:1.17s;
    animation-delay:1.17s;
}

.loading.bar div:nth-child(8){
    -webkit-transform: rotate(315deg) translate(0, -30px);
    -moz-transform: rotate(315deg) translate(0, -30px);
    transform: rotate(315deg) translate(0, -30px);

    -webkit-animation-delay:1.3s;
    -moz-animation-delay:1.3s;
    animation-delay:1.3s;
}
@-webkit-keyframes fadeit{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
@-moz-keyframes fadeit{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
@keyframes fadeit{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}